* {
    box-sizing: border-box;
}

main {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    background-color: #cccccc;
    display: none;
}

.game-wrapper {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    overflow: auto;
    background-image: url('../img/background.jpg');
}

.col {
    position: relative;
    width: 250px;
    height: 600px;
    float: left;
}

img.missile {
    position: absolute;
    width: 25px;
    display: block;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.city {
    width: 183px;
    height: 600px;
    display: block;
    margin: 0 auto;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.explosion {
    background-image: url('../img/city-hit.gif');
    width: 131px;
}

.city1 {
    background-image: url('../img/cities-1.png');
}

.city1.laser {
    background-image: url('../img/cities-1-laser.png');
}

.city2 {
    background-image: url('../img/cities-2.png');
}

.city2.laser {
    background-image: url('../img/cities-2-laser.png');
}

.city3 {
    background-image: url('../img/cities-3.png');
}

.city3.laser {
    background-image: url('../img/cities-3-laser.png');
}

.city4 {
    background-image: url('../img/cities-4.png');
}

.city4.laser {
    background-image: url('../img/cities-4-laser.png');
}

.keyboard-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.keyboard {
    display: inline-block;
    background-color: #000000;
    color: #71b264;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 20px 98px 0;
    text-align: center;
    line-height: 50px;
}

.score-wrapper {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.totals {
    display: inline-block;
    width: 150px;
    padding: 0 10px;
}

.totals h2 {
    font-size: 16px;
}

.totals p {
    padding: 5px;
    border-radius: 5px;
}

.totals.score p {
    background-color: #71b264;
}

.totals.toll p {
    background-color: #b21123;
}

.start {
    display: none;
    background-color: #b21123;
    color: #ffffff;
    margin: 0 auto;
    border-radius: 100%;
    border: 4px solid #cccccc;
    width: 100px;
    height: 100px;
    line-height: 90px;
    text-align: center;
}