* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Play', sans-serif;
    color: white;

}

#splash-screen {
    height: 800px;
    width: 1000px;
    margin: auto;
    background-color: black;
    overflow: hidden;

}

#splash-rocket-img {
    width: 724px;
    height: 232px;
}

#splash-title-rocket {
    position: relative;
    right: 1224px;
    top: 50px;
    width: 2000px;
}

#splash-flames {
    height: 232px;
    width: 500px;
}

#splash-title {
    position: absolute;
    text-align: center;
    font-size: 9.6rem;
    width: 1000px;
    margin-top: 100px;
    display: none;
}

#splash-open-game {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 50px auto 50px auto;
    font-size: 3.2rem;
    text-align: center;
    border-style: solid;
    text-decoration: none;
    color: white;
    position: relative;
}

#splash-bottom-wrapper {
    position: relative;
    top: 3px;

}

#splash-city {
    width: 500px;
    height: 400px;
    float: left;
}

#splash-instructions {
    width: 500px;
    height: 400px;
    float: left;
    padding: 0 20px;
    font-size: 1.9rem;
    background-color: rgba(0,0,0,0.25);
;

}

#splash-background {
    position: absolute;
    width: 1000px;
}

/*// height="1200" width="1500"*/